/* Standard Idle Button Style */
.btn-earth {
  display: grid;
  place-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border-width: 0px;
  text-decoration: none;
}

/* Button Animation */
.btn-earth::after {
  content: url("/space-design/assets/landing/hover.png");
  position: fixed;
  z-index: -1;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 750ms linear, transform 1000ms ease-in-out;
}

/* Size of the hover effect */
.btn-earth:hover::after,
.btn-earth:focus::after {
  opacity: 1;
  transform: scale(1.1);
}

/* Button Overall Position on page*/
.btn-earth-position {
  transform: translatey(100%);
  display: flex;
  justify-content: center;
}

/* Hides Static Text when hovering */
.btn-earth:hover h4 {
  display: none;
}

/* Reveals Hover Text */
.btn-earth:hover:before {
  content: "Welcome";
  font-family: "Bellefair", serif;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}
